---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Claudia108/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4839'
      X-Ratelimit-Reset:
      - '1464279143'
      Etag:
      - W/"970e88f2749b462fa5ef50746af14232"
      Last-Modified:
      - Thu, 26 May 2016 05:10:56 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/15485124/events?page=2>; rel="next", <https://api.github.com/user/15485124/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4064199401","type":"CreateEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":59712080,"name":"Claudia108/mini_github","url":"https://api.github.com/repos/Claudia108/mini_github"},"payload":{"ref":"9_organizations","ref_type":"branch","master_branch":"1_o-auth","description":null,"pusher_type":"user"},"public":true,"created_at":"2016-05-26T05:10:56Z"},{"id":"4064116234","type":"WatchEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":22358793,"name":"turingschool/community_content","url":"https://api.github.com/repos/turingschool/community_content"},"payload":{"action":"started"},"public":true,"created_at":"2016-05-26T04:28:09Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"4064085723","type":"IssuesEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":59712080,"name":"Claudia108/mini_github","url":"https://api.github.com/repos/Claudia108/mini_github"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/Claudia108/mini_github/issues/9","repository_url":"https://api.github.com/repos/Claudia108/mini_github","labels_url":"https://api.github.com/repos/Claudia108/mini_github/issues/9/labels{/name}","comments_url":"https://api.github.com/repos/Claudia108/mini_github/issues/9/comments","events_url":"https://api.github.com/repos/Claudia108/mini_github/issues/9/events","html_url":"https://github.com/Claudia108/mini_github/issues/9","id":156899785,"number":9,"title":"View
        a list of organizations I''m a member of","user":{"login":"Claudia108","id":15485124,"avatar_url":"https://avatars.githubusercontent.com/u/15485124?v=3","gravatar_id":"","url":"https://api.github.com/users/Claudia108","html_url":"https://github.com/Claudia108","followers_url":"https://api.github.com/users/Claudia108/followers","following_url":"https://api.github.com/users/Claudia108/following{/other_user}","gists_url":"https://api.github.com/users/Claudia108/gists{/gist_id}","starred_url":"https://api.github.com/users/Claudia108/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Claudia108/subscriptions","organizations_url":"https://api.github.com/users/Claudia108/orgs","repos_url":"https://api.github.com/users/Claudia108/repos","events_url":"https://api.github.com/users/Claudia108/events{/privacy}","received_events_url":"https://api.github.com/users/Claudia108/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-05-26T04:12:08Z","updated_at":"2016-05-26T04:12:08Z","closed_at":null,"body":null}},"public":true,"created_at":"2016-05-26T04:12:08Z"},{"id":"4064085168","type":"IssuesEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":59712080,"name":"Claudia108/mini_github","url":"https://api.github.com/repos/Claudia108/mini_github"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/rep[...]
[...]
