---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Claudia108/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4806'
      X-Ratelimit-Reset:
      - '1464297512'
      Etag:
      - W/"2bbc78c800a8a990c05153dc0b827adf"
      Last-Modified:
      - Thu, 26 May 2016 20:20:14 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/15485124/events?page=2>; rel="next", <https://api.github.com/user/15485124/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4068031852","type":"IssuesEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":59712080,"name":"Claudia108/mini_github","url":"https://api.github.com/repos/Claudia108/mini_github"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/Claudia108/mini_github/issues/14","repository_url":"https://api.github.com/repos/Claudia108/mini_github","labels_url":"https://api.github.com/repos/Claudia108/mini_github/issues/14/labels{/name}","comments_url":"https://api.github.com/repos/Claudia108/mini_github/issues/14/comments","events_url":"https://api.github.com/repos/Claudia108/mini_github/issues/14/events","html_url":"https://github.com/Claudia108/mini_github/issues/14","id":157070254,"number":14,"title":"Add
        tests for additional methods in gihub service","user":{"login":"Claudia108","id":15485124,"avatar_url":"https://avatars.githubusercontent.com/u/15485124?v=3","gravatar_id":"","url":"https://api.github.com/users/Claudia108","html_url":"https://github.com/Claudia108","followers_url":"https://api.github.com/users/Claudia108/followers","following_url":"https://api.github.com/users/Claudia108/following{/other_user}","gists_url":"https://api.github.com/users/Claudia108/gists{/gist_id}","starred_url":"https://api.github.com/users/Claudia108/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Claudia108/subscriptions","organizations_url":"https://api.github.com/users/Claudia108/orgs","repos_url":"https://api.github.com/users/Claudia108/repos","events_url":"https://api.github.com/users/Claudia108/events{/privacy}","received_events_url":"https://api.github.com/users/Claudia108/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-05-26T20:20:13Z","updated_at":"2016-05-26T20:20:13Z","closed_at":null,"body":null}},"public":true,"created_at":"2016-05-26T20:20:14Z"},{"id":"4068029326","type":"IssuesEvent","actor":{"id":15485124,"login":"Claudia108","display_login":"Claudia108","gravatar_id":"","url":"https://api.github.com/users/Claudia108","avatar_url":"https://avatars.githubusercontent.com/u/15485124?"},"repo":{"id":59712080,"name":"Claudia108/mini_github","url":"https://api.github.com/repos/Claudia108/mini_github"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/Claudia108/mini_github/is[...]
[...]
