---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/gists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1464297512'
      Etag:
      - W/"a1a2eda45c409df37e5c96c8f95565ef"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/gists/22de995a4bcf33e283eb362c71d0a615","forks_url":"https://api.github.com/gists/22de995a4bcf33e283eb362c71d0a615/forks","commits_url":"https://api.github.com/gists/22de995a4bcf33e283eb362c71d0a615/commits","id":"22de995a4bcf33e283eb362c71d0a615","git_pull_url":"https://gist.github.com/22de995a4bcf33e283eb362c71d0a615.git","git_push_url":"https://gist.github.com/22de995a4bcf33e283eb362c71d0a615.git","html_url":"https://gist.github.com/22de995a4bcf33e283eb362c71d0a615","files":{"setting_expectations.markdown":{"filename":"setting_expectations.markdown","type":"text/plain","language":"Markdown","raw_url":"https://gist.githubusercontent.com/Claudia108/22de995a4bcf33e283eb362c71d0a615/raw/1c77c118ab8d9045a1ae2aaa1a42ed8091ab49e4/setting_expectations.markdown","size":2468}},"public":true,"created_at":"2016-04-18T21:31:42Z","updated_at":"2016-04-19T14:09:49Z","description":"Setting
        Expectations","comments":0,"user":null,"comments_url":"https://api.github.com/gists/22de995a4bcf33e283eb362c71d0a615/comments","owner":{"login":"Claudia108","id":15485124,"avatar_url":"https://avatars.githubusercontent.com/u/15485124?v=3","gravatar_id":"","url":"https://api.github.com/users/Claudia108","html_url":"https://github.com/Claudia108","followers_url":"https://api.github.com/users/Claudia108/followers","following_url":"https://api.github.com/users/Claudia108/following{/other_user}","gists_url":"https://api.github.com/users/Claudia108/gists{/gist_id}","starred_url":"https://api.github.com/users/Claudia108/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Claudia108/subscriptions","organizations_url":"https://api.github.com/users/Claudia108/orgs","repos_url":"https://api.github.com/users/Claudia108/repos","events_url":"https://api.github.com/users/Claudia108/events{/privacy}","received_events_url":"https://api.github.com/users/Claudia108/received_events","type":"User","site_admin":false},"truncated":false},{"url":"https://api.github.com/gists/5ad4a673d1eef08930581ced450d06ef","forks_url":"https://api.github.com/gists/5ad4a673d1eef08930581ced450d06ef/forks","commits_url":"https://api.github.com/gists/5ad4a673d1eef08930581ced450d06ef/commits","id":"5ad4a673d1eef08930581ced450d06ef","git_pull_url":"https://gist.github.com/5ad4a673d1eef08930581ced450d06ef.git","git_push_url":"https://gist.github.com/5ad4a673d1eef08930581ced450d06ef.git","html_url":"https://gist.github.com/5ad4a673d1eef08930581c[...]
