---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Claudia108/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4870'
      X-Ratelimit-Reset:
      - '1464297512'
      Etag:
      - W/"ad0406a5e6e352be6f954ba8a0944ceb"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"apiiiiii","id":19580612,"url":"https://api.github.com/orgs/apiiiiii","repos_url":"https://api.github.com/orgs/apiiiiii/repos","events_url":"https://api.github.com/orgs/apiiiiii/events","hooks_url":"https://api.github.com/orgs/apiiiiii/hooks","issues_url":"https://api.github.com/orgs/apiiiiii/issues","members_url":"https://api.github.com/orgs/apiiiiii/members{/member}","public_members_url":"https://api.github.com/orgs/apiiiiii/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/19580612?v=3","description":null}]'
  recorded_at: Thu, 26 May 2016 20:28:29 GMT
recorded_with: VCR 3.0.3
