---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Claudia108/received_events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
      - '1464293702'
      Etag:
      - W/"de0aed0ceb914bce4c17632aeb08f7a6"
      Last-Modified:
      - Sat, 21 May 2016 02:52:31 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/15485124/received_events?page=2>; rel="next",
        <https://api.github.com/user/15485124/received_events?page=10>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4044035154","type":"PushEvent","actor":{"id":14337195,"login":"alirezaandersen","display_login":"alirezaandersen","gravatar_id":"","url":"https://api.github.com/users/alirezaandersen","avatar_url":"https://avatars.githubusercontent.com/u/14337195?"},"repo":{"id":58403709,"name":"alirezaandersen/the_pivot","url":"https://api.github.com/repos/alirezaandersen/the_pivot"},"payload":{"push_id":1122268542,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"029a3ec07a54a74a03caf32eb9edea1ea08bf85f","before":"bead076b3eedaf7443c79845035980e695828b4a","commits":[{"sha":"029a3ec07a54a74a03caf32eb9edea1ea08bf85f","author":{"email":"alireza.andersen@gmail.com","name":"Ali
        Andersen"},"message":"Update README.md","distinct":true,"url":"https://api.github.com/repos/alirezaandersen/the_pivot/commits/029a3ec07a54a74a03caf32eb9edea1ea08bf85f"}]},"public":true,"created_at":"2016-05-21T02:52:31Z"},{"id":"4044014976","type":"PushEvent","actor":{"id":14337195,"login":"alirezaandersen","display_login":"alirezaandersen","gravatar_id":"","url":"https://api.github.com/users/alirezaandersen","avatar_url":"https://avatars.githubusercontent.com/u/14337195?"},"repo":{"id":58403709,"name":"alirezaandersen/the_pivot","url":"https://api.github.com/repos/alirezaandersen/the_pivot"},"payload":{"push_id":1122260438,"size":3,"distinct_size":0,"ref":"refs/heads/master","head":"bead0[...]
[...]
