---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1464293702'
      Etag:
      - W/"302d1d958a0a0e57f4d8cea9c1461e7f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":58403709,"name":"the_pivot","full_name":"alirezaandersen/the_pivot","owner":{"login":"alirezaandersen","id":14337195,"avatar_url":"https://avatars.githubusercontent.com/u/14337195?v=3","gravatar_id":"","url":"https://api.github.com/users/alirezaandersen","html_url":"https://github.com/alirezaandersen","followers_url":"https://api.github.com/users/alirezaandersen/followers","following_url":"https://api.github.com/users/alirezaandersen/following{/other_user}","gists_url":"https://api.github.com/users/alirezaandersen/gists{/gist_id}","starred_url":"https://api.github.com/users/alirezaandersen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alirezaandersen/subscriptions","organizations_url":"https://api.github.com/users/alirezaandersen/orgs","repos_url":"https://api.github.com/users/alirezaandersen/repos","events_url":"https://api.github.com/users/alirezaandersen/events{/privacy}","received_events_url":"https://api.github.com/users/alirezaandersen/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/alirezaandersen/the_pivot","description":"","fork":false,"url":"https://api.github.com/repos/alirezaandersen/the_pivot","forks_url":"https://api.github.com/repos/alirezaandersen/the_pivot/forks","keys_url":"https://api.github.com/repos/alirezaandersen/the_pivot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alirezaandersen/the_pivot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alirezaandersen/the_pivot/teams","hooks_url":"https://api.github.com/repos/alirezaandersen/the_pivot/hooks","issue_events_url":"https://api.github.com/repos/alirezaandersen/the_pivot/issues/events{/number}","events_url":"https://api.github.com/repos/alirezaandersen/the_pivot/events","assignees_url":"https://api.github.com/repos/alirezaandersen/the_pivot/assignees{/user}","branches_url":"https://api.github.com/repos/alirezaandersen/the_pivot/branches{/branch}","tags_url":"https://api.github.com/repos/alirezaandersen/the_pivot/tags","blobs_url":"https://api.github.com/repos/alirezaandersen/the_pivot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alirezaandersen/the_pivot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alirezaandersen/the_pivot/git/refs{/sha}","trees_url":"https://api.github.com/repos/alirezaandersen/the_pivot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alirezaandersen/the_pivot/statuses/{sha}","languages_url":"https://api.github.com/repos/alirezaandersen/the_pivot/languages","stargazers_url":"https://api.github.com/repos/alirezaandersen/the_pivot/stargazers","contributors_url":"https://api.github.com/repos/alirezaandersen/the_pivot/contributors","subscribers_url":"https://api.github.com/repos/alirezaandersen/the_pivot/subscribers","subscription_url":"https://api.github.com/repos/alirezaandersen/the_pivot/subscription","commits_url":"https://api.github.com/repos/alirezaandersen/the_pivot/commits{/sha}","git_commits_url":"https://api.github.com/repos/alirezaandersen/the_pivot/git/commits{/sha}","comments_url":"https://api.github.com/repos/alirezaandersen/the_pivot/comments{/number}","issue_comment_url":"https://api.github.com/repos/alirezaandersen/the_pivot/issues/comments{/number}","contents_url":"https://api.github.com/repos/alirezaandersen/the_pivot/contents/{+path}","compare_url":"https://api.github.com/repos/alirezaandersen/the_pivot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alirezaandersen/the_pivot/merges","archive_url":"https://api.github.com/repos/alirezaandersen/the_pivot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alirezaandersen/the_pivot/downloads","issues_url":"https://api.github.com/repos/alirezaandersen/the_pivot/issues{/number}","pulls_url":"https://api.github.com/repos/alirezaandersen/the_pivot/pulls{/number}","milestones_url":"https://api.github.com/repos/alirezaandersen/the_pivot/milestones{/number}","notifications_url":"https://api.github.com/repos/alirezaandersen/the_pivot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alirezaandersen/the_pivot/labels{/name}","releases_url":"https://api.github.com/repos/alirezaandersen/the_pivot/releases{/id}","deployments_url":"https://api.github.com/repos/alirezaandersen/the_pivot/deployments","created_at":"2016-05-09T19:52:12Z","updated_at":"2016-05-12T16:53:13Z","pushed_at":"2016-05-21T02:52:31Z","git_url":"git://github.com/alirezaandersen/the_pivot.git","ssh_url":"git@github.com:alirezaandersen/the_pivot.git","clone_url":"https://github.com/alirezaandersen/the_pivot.git","svn_url":"https://github.com/alirezaandersen/the_pivot","homepage":null,"size":15645,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":18,"forks":0,"open_issues":18,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":54921139,"name":"active-record-sinatra","full_name":"Claudia108/active-record-sinatra","owner":{"login":"Claudia108","id":15485124,"avatar_url":"https://avatars.githubusercontent.com/u/15485124?v=3","gravatar_id":"","url":"https://api.github.com/users/Claudia108","html_url":"https://github.com/Claudia108","followers_url":"https://api.github.com/users/Claudia108/followers","following_url":"https://api.github.com/users/Claudia108/following{/other_user}","gists_url":"https://api.github[...]
[...]
