---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Claudia108/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token f4bf9014ad55c0af6013e31b82a19c3d95fccbc7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ratelimit-Reset:
      - '1464297512'
      Etag:
      - W/"b9a6c70bfa765535cf157df6cd49b816"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - a1a5449d976402256e19
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":22358793,"name":"community_content","full_name":"turingschool/community_content","owner":{"login":"turingschool","id":7934292,"avatar_url":"https://avatars.githubusercontent.com/u/7934292?v=3","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gists_url":"https://api.github.com/users/turingschool/gists{/gist_id}","starred_url":"https://api.github.com/users/turingschool/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/turingschool/subscriptions","organizations_url":"https://api.github.com/users/turingschool/orgs","repos_url":"https://api.github.com/users/turingschool/repos","events_url":"https://api.github.com/users/turingschool/events{/privacy}","received_events_url":"https://api.github.com/users/turingschool/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/turingschool/community_content","description":"A
        repository that contains the instructions and schedule of students'' lightning
        talks.","fork":false,"url":"https://api.github.com/repos/turingschool/community_content","forks_url":"https://api.github.com/repos/turingschool/community_content/forks","keys_url":"https://api.github.com/repos/turingschool/community_content/keys{/key_id}","collaborators_url":"https://api.github.com/repos/turingschool/community_content/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/turingschool/community_content/teams","hooks_url":"https://api.github.com/repos/turingschool/community_content/hooks","issue_events_url":"https://api.github.com/repos/turingschool/community_content/issues/events{/number}","events_url":"https://api.github.com/repos/turingschool/community_content/events","assignees_url":"https://api.github.com/repos/turingschool/community_content/assignees{/user}","branches_url":"https://api.github.com/repos/turingschool/community_content/branches{/branch}","tags_url":"https://api.github.com/repos/turingschool/community_content/tags","blobs_url":"https://api.github.com/repos/turingschool/community_content/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/turingschool/community_content/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/turingschool/community_content/git/refs{/sha}","trees_url":"https://api.github.com/repos/turingschool/community_content/git/trees{/sha}","statuses_url":"https://api.github.com/repos/turingschool/community_content/statuses/{sha}","languages_url":"https://api.github.com/repos/turingschool/community_content/languages","stargazers_url":"https://api.github.com/repos/turingschool/community_content/stargazers","contributors_url":"https://api.github.com/repos/turingschool/community_content/contributors","subscribers_url":"https://api.github.com/repos/turingschool/community_content/subscribers","subscription_url":"https://api.github.com/repos/turingschool/community_content/subscription","commits_url":"https://api.github.com/repos/turingschool/community_content/commits{/sha}","git_commits_url":"https://api.github.com/repos/turingschool/community_content/git/commits{/sha}","comments_url":"https://api.github.com/repos/turingschool/community_content/comments{/number}","issue_comment_url":"https://api.github.com/repos/turingschool/community_content/issues/comments{/number}","contents_url":"https://api.github.com/repos/turingschool/community_content/contents/{+path}","compare_url":"https://api.github.com/repos/turingschool/community_content/compare/{base}...{head}","merges_url":"https://api.github.com/repos/turingschool/community_content/merges","archive_url":"https://api.github.com/repos/turingschool/community_content/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/turingschool/community_content/downloads","issues_url":"https://api.github.com/repos/turingschool/community_content/issues{/number}","pulls_url":"https://api.github.com/repos/turingschool/community_content/pulls{/number}","milestones_url":"https://api.github.com/repos/turingschool/community_content/milestones{/number}","notifications_url":"https://api.github.com/repos/turingschool/community_content/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/turingschool/community_content/labels{/name}","releases_url":"https://api.github.com/repos/turingschool/community_content/releases{/id}","deployments_url":"https://api.github.com/repos/turingschool/community_content/deployments","created_at":"2014-07-28T21:38:21Z","updated_at":"2016-05-26T04:28:09Z","pushed_at":"2016-05-23T15:36:03Z","git_url":"git://github.com/turingschool/community_content.git","ssh_url":"git@github.com:turingschool/community_content.git","clone_url":"https://github.com/turingschool/community_content.git","svn_url":"https://github.com/turingschool/community_content","homepage":"","size":873,"stargazers_count":8,"watchers_count":8,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":210,"mirror_url":null,"open_issues_count":3,"forks":210,"open_issues":3,"watchers":8,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Thu, 26 May 2016 20:28:29 GMT
recorded_with: VCR 3.0.3
