<div class="container">
  <h1>You have <%= @count %> Received Events</h1>
  <br>
  <h4>You recently received the following events:</h4>
  <ul>
    <% @received_events.each_with_index do |event, i| %>
      <li><%= event.contributors[i] %> worked on the Repo <%= event.repo_names[i] %> </li>
    <% end %>
  </ul>
</div>
