  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <a class="navbar-brand" href="/">Mini-Github</a>
    <ul class="nav navbar-nav">
      <li>
          <%= link_to "Sign in with Github", github_login_path %>
      </li>
    </ul>
  </div>
