<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Mini-Github</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <% if current_user %>
          <a href="/user/repos">My Repos</a>
        <% else %>
          <a href="/">My Repos</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <a href="/gists">My Gists</a>
        <% else %>
          <a href="/">My Gists</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <a href="/users/:username/events">My Commits</a>
        <% else %>
          <a href="/">My Commits</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <a href="/users/:username/received_events">Received Events</a>
        <% else %>
          <a href="/">Received Events</a>
        <% end %>
      </li>
      <li>
        <% if current_user %>
          <li><%= link_to "Hello, #{current_user.name}!", user_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <%= link_to "Sign in with Github", github_login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
